/* Element Selector */
div{
  width: 500px;
  height: 200px;
  background-color: red;
}

/* ID Selector */
#main-heading{
  color: blue;
}

/* Class Selector */
.heading{
  color: white;
  background-color: blue;
}

.relative{
  background-color: blueviolet;
  width: 50vw;
  height: 30vh;
}

.percent{
  width: 50%;
  height: 50%;
  background-color: black;
}

.solid-border{
  border-style: solid;
  border-width: 2px;
  border-color: red;
  padding: 20px;
  margin: 50px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

.double-border{ 
  border-style: double;
  border-width: 5px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Mea Culpa', cursive;
}

.mixed-border{
  border-top-style: double;
  border-top-width: 8px;
  border-left-style: solid;
  border-right-style: hidden;
  border-bottom-style: dashed;
  border-bottom-color: blue;
}