/* Element Selector */
/* div{
  width: 500px;
  height: 200px;
  background-color: red;
} */

/* ID Selector */
#main-heading{
  color: blue;
}

/* Class Selector */
.heading{
  color: white;
  background-color: blue;
}

.relative{
  background-color: blueviolet;
  width: 50vw;
  height: 30vh;
}

.percent{
  width: 50%;
  height: 50%;
  background-color: black;
}

.solid-border{
  border-style: solid;
  border-width: 2px;
  border-color: red;
  padding: 20px;
  margin: 50px;
  font-size: 50px;
  font-family: 'Lobster', cursive;
  border-radius: 60px;
}

.double-border{ 
  border-style: double;
  border-width: 5px;
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Mea Culpa', cursive;
}

.mixed-border{
  border-top-style: double;
  border-top-width: 8px;
  border-left-style: solid;
  border-right-style: hidden;
  border-bottom-style: dashed;
  border-bottom-color: blue;
}

.overflow-visible{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-left: 20px;
  overflow: visible;
}

.overflow-hidden{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-left: 20px;
  overflow: hidden;
}

.overflow-scroll{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-left: 20px;
  overflow: scroll;
}

.overflow-auto{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin-left: 20px;
  overflow: auto;
}

.container{
  display: flex;
  flex-direction: row;
}

body{
  /* background-image: url("./shinchu.jpg"); */
  background-image: url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5d35eacaf1176b0008974b54%2F2020-Chevrolet-Corvette-Stingray%2F960x0.jpg%3FcropX1%3D790%26cropX2%3D5350%26cropY1%3D784%26cropY2%3D3349");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}